.signin-page .header{
    background-color: #AF7AC5 ;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.signin-page .page-section{
    height: 85vh;
    width: 100vw;
    display: flex;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.signin-page .signin-section{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signin-page .display-section{
    background-color: #AF7AC5;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}