.product-details{
    height: 80vh;
    width: 70vw;
    border: 1px solid blue;
    display: flex;
}

.product-details .image-section{
    border: 1px solid black;
    height: 100%;
    width: 50%;
}

.product-details .img{
    height: 40%;
    width: 40%;
    border: 1px solid red;
}

.product-details .img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}